
<%- include("partials/header") %>

	<!-- jumbotron -->
	<div class="jumbotron p-8">
		<h1 >Mine-Health</h1>
		<p>A collection of more than 500 homemade remedies for common health problems</p>
	</div>
	<div class="row">
		<div class="card col-md-4" style="width: 10rem;">
	  		<img class="card-img-top" src="https://images.unsplash.com/photo-1459933083533-46381576caa9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
	  		<div class="card-body">
	    		<h5 class="card-title">INGREDIENTS</h5>
	    		<p class="card-text">Learn about the famous ingredients used in ayurveda in day-to-day lives of Indian families.</p>
	    		<a href="/ingredients" class="btn btn-danger">View ingredients</a>
	  		</div>
		</div>
		<div class="card col-md-4 right" style="width: 10rem;">
	  		<img class="card-img-top" src="https://images.unsplash.com/photo-1492552085122-36706c238263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
	  		<div class="card-body" >
	    		<h5 class="card-title">RECIPES</h5>
	    		<p class="card-text">Check out easy to create famous home-made indian medicinal recipes for daily life health problem. </p>
	    		<a href="#" class="btn btn-primary">View ingredients</a>
	  		</div>
		</div>
	</div>

	<div class="row two">
		<div class="card col-md-4" style="width: 5rem;">
	  		<img class="card-img-top" src="https://images.unsplash.com/photo-1532092367580-3bd5bc78dd9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
	  		<div class="card-body">
	    		<h5 class="card-title">HISTORY OF AYURVEDA</h5>
	    		<p class="card-text">Learn about the famous ingredients used in ayurveda in day-to-day lives of Indian families.</p>
	    		<a href="#" class="btn btn-info">View More</a>
	  		</div>
		</div>
		<div class="card col-md-4 right" style="width: 5rem;">
	  		<img class="card-img-top" src="https://images.unsplash.com/photo-1563906267088-b029e7101114?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
	  		<div class="card-body">
	    		<h5 class="card-title">ABOUT US</h5>
	    		<p class="card-text">Check out easy to create famous home-made indian medicinal recipes for daily life health problem. </p>
	    		<a href="#" class="btn btn-warning">Know More</a>
	  		</div>
		</div>
	</div>

<%- include("partials/footer") %>