<head>
	<title>Home1</title>
	<!-- here we include bootstrap css files to include inbuilt styles  -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="bootstrap-4.0.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fontawesome-free-5.14.0-web\css\all.css">
	<link rel="stylesheet" type="text/css" href="Home.css">
</head>
<body>

	<!-- navbar -->
	<nav class="navbar navbar-dark fixed-top navbar-light">
		<a class="navbar-brand" href="#"><i class="fa fa-leaf"></i> Home</a>
		<div>
			<a class="initials" href="#"><i class="fa fa-user" aria-hidden="true"></i>Login</a>
			<a class="initials" href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>SignUp</a>
		</div>
	</nav>
